nav {
    background-color: gray;
    font-size: larger;
    color: white; 
}

.container {
    background-color: whitesmoke;
    align-self: start;
}

body main nav a {
    display: inline-flex;
    align-items: flex-end;
}